<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <springProperty name="APP" source="spring.application.name" defaultValue="importer" />
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app_name":"${APP}"}</customFields>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="JSON" />
  </root>
</configuration>
